services:

  app:
    build: .
    container_name: app
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    tty: true
    command: /bin/bash
    group_add:
      - video
    devices:
      - /dev/video0:/dev/video0
      - /dev/video3:/dev/video3
      - /dev/video2:/dev/video5
      - /dev/ttyACM0:/dev/ttyACM0
      - /dev/video10:/dev/video10
    privileged: true